@charset "UTF-8";

body {
    margin-top: 80px !important;
    padding-top: 60px; /* Navbar uses 55.6px (fixed position)*/
    background-color:aliceblue !important;
}

.estampa-img {
    height: 500px;
    width: 500px;
    text-align:center;
    padding:5px;
    outline-color: black;
    outline-style: auto;
    background-color: white;
}

.estampa-img-browse {

    text-align:center;
    padding:5px;
    height: 300px;
    width: 300px;
}

.estampa-item-link {

    text-align:justify;
    padding:5px;
    color: initial;
    text-decoration-line: initial;
    max-width:100%;
    height:auto;
}

.estampa-item-link:hover {

    text-align:justify;
    padding:5px;
    color: initial;
    text-decoration-line: initial;
}

.estampa-area{
    align-items: center;
    text-align:center;
    padding:5px;
    gap: 32px 16px;
    display: grid;
}

h5{
    text-align: center;
}

h5:hover{
    text-align: center;
}

.estampa-card{
    height: 555px;
    margin-bottom: 20px;
}

.estampa-card:a{
        position:absolute;
        bottom:0;
        margin-bottom:7px;
}

.text-estampa{
    height: 120px;
}

.nav-link{
    color:lightcyan!important;
}

.body-estampa{
    text-align: center;
}
.description-estampa{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

.name-estampa{
    font-size: 40px;
}

.estampa-img{
    height: 100%;
}
