@charset "UTF-8";

html {
    background-color: aliceblue;
}

/* NavBar */
.navbar {
    margin-bottom: 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
}

/* Layout */
.shop-body {
    background-color: aliceblue;
}

.shop-container {
    padding-top: 1%;
}

.shop-estampa-card {
    margin-bottom: 20px;
    padding: 5px;
    text-align: justify;
}

.shop-estampa-link {
    color: initial;
    text-decoration-line: initial;
}

.shop-estampa-link:hover {
    color: initial;
}

.shop-estampa-img {
    height: 300px;
    margin-bottom: 5px;
}

.estampa-img {
    height: 500px;
    padding: 5px;
    outline-color: black;
    outline-style: auto;
    background-color: white;
}

.estampa-name {
    text-align: center;
}

.estampa-description {
    height: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

.estampa-name {
    font-size: 40px;
}

/* Profiles */
.edit-profile-card, .profile-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.edit-profile-img-view, .profile-img-view {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile-icon {
    height: 40px;
    width: 40px;
}

.color-display {
    height: 100px;
    width: 100px;
}

.add-cart-form {
    background-color: white;
}

.cart-icon-div {
    height: 2em;
    width: 2em;
    color: white;
}

.cart-icon-div:hover {
    color: white;
}

.profile-img {
    max-width: 25%;
    margin-top: 20px;
}

.row-btn {
    margin-top: 10px;
}

.new-print-btn {
    margin: 20px;
}

.search {
    margin-bottom: 20px;
    text-align: center;
}

.shirt-row {
    background-color: azure;
    margin: 10px;
    border-style: solid;
    border-color: lightsteelblue;
    border-width: 2px;
    border-radius: 15px;
}

.print-img, .shirt-img {
    max-width: 100px;
    margin-top: 15px;
}

.print-img {
    background-color: white;
}

.total-cart, .name-shirt, .subtotal-shirt, .empty-cart {
    font-weight: bold;
}

.subtotal-shirt {
    margin-top: 20px;
}

.empty-cart {
    text-align: center;
    color: red;
}
