@charset "UTF-8";

body {
    padding-top: 60px; /* Navbar uses 55.6px (fixed position)*/
}

.estampa-img {
    height: 500px;
    width: 500px;

    outline-color: black;
    outline-style: auto;
}

.estampa-img-browse {
    height: 300px;
    width: 300px;
}

.estampa-item-link {
    color: initial;
    text-decoration-line: initial;
}

.estampa-item-link:hover {
    color: initial;
    text-decoration-line: initial;
}
